

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
   /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #70F06D;
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #22D4FD;
    font-weight: 600;

}
h1 {
    color: #70F06D;

}



p {
    color: white;
}



span {
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 3px;
}
span:hover {
    animation: pulse 1s ease-in-out infinite alternate;

}

.destaque {
    color: #22D4FD;
}

.apresentacao {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;


}

.apresentacao__conteudo {
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links {
    display: flex;
   justify-content: space-between;
   align-items: center;  
   gap: 32px; 
    
}
.links_modelo {
    background-color: #22D4FD;
    display: flex;
    justify-content: center;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.links_modelo:hover {
          color:#70F06D;
          
          transform: rotateZ(90deg);
    }


.apresentacao__imagem {  
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px #70F06D;
    
}
 
.apresentacao__imagem:hover {
    animation: pulse 1s ease-in-out infinite alternate;
   
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 20px 5px #70F06D;
        transform: scale(1);
        transform: rotateZ(90deg);
    }
    to {
        box-shadow: 0px 0px 20px 10px #70F06D;
        transform: scale(1.3);
       
    } 
}
 .rodape {
    animation: mymove 1s ease-in-out infinite alternate;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;

   
 }
 @keyframes mymove {
    from {background-color: #70F06D;}
    to {background-color: #000000;}
  }